*{
    margin: 0;
    padding: 0;
}
.title {
    letter-spacing: 3px;
}
.containerCss .nav-tabs .nav-link.active  {
    background-color: rgb(248, 232, 0);
    border-color: #dee2e6 #dee2e6 rgb(248, 232, 0);
}
.containerCss .tab-content {
    min-height: 180px;
    height: 15vw;
    border: 1px solid;
    background-color: rgb(248, 232, 0);
    border-color:rgb(248, 232, 0) #dee2e6 #dee2e6 #dee2e6 ;
}
.rasta {
    margin: 20px 10px;
}
.active {
    background-color: rgb(248, 232, 0);
    height: 100%;
}
.tab-pane .mygtukas, 
.tab-pane .mygtukas:focus,
.tab-pane .mygtukas:hover  {
    background-color: black;
    color:white;   
    box-shadow: none;
}

form {
    height: 100%;
}
i {
    font-size: 25px;
    position: relative;
    top:4px;
    padding-right: 10px;
}
.row {
    height: 100%;
}
.nav-item .nav-link {
    color: black;
    padding: 1.7vw;
}
@media (max-width: 575.98px) { 
    i {
        font-size: 4.5vw;
        position: relative;
        top:1px;
        padding-right: 2px;
    }
    .nav-item .nav-link {
        font-size: 4.2vw;      
    }
    .containerCss .nav-tabs .nav-link {
        border: none;
    }
    .nav-item {
        width:50%;
    }
    .containerCss .tab-content {
        border: none;
    }
    .title{
        font-size: 1.7rem;
        letter-spacing: 1px;
    }
    #addressContainer {
        height: 80%;
        margin-right: -40px;
        margin-left: -40px;
    }
    #koduContainer {
        margin-right: -40px;
        margin-left: -40px;
    }
    #postKodas {
        margin-top: 10%;
    }
}